@model CardListViewModel


<h3>@Model.CurrentCategory</h3>
<ul>
    @foreach (var card in Model.Cards)
    {
        <li>
            <h2>@card.Name</h2>
            <p>@card.Description</p>
            <img src="@card.Image" alt="@card.Name" />
            <p>Points: @card.Points</p>
        </li>
    }
</ul>
