@model CardListViewModel


 
  
<div class="container py-5">
   <div class="row mb-lg-4">

      <h3>@Model.CurrentCategory</h3>
      <p class="text-muted">Explore our collection of @Model.CurrentCategory cards.</p>

      @foreach (var card in Model.Cards)
      {
         <div class="col-6 col-lg-3 mb-4">
            <div class="card shadow border-0 h-100">
               <img src="@card.Image" class="card-img-top" alt="@card.Name" style="height: 200px; object-fit: cover;" />

               <div class="card-body p-4">
                  <div class="lc-block text-center mb-3">
                     <div editable="rich">
                        <h3 class="fw-light">@card.Name</h3>
                     </div>
                  </div>

                  <div class="lc-block text-center mb-4">
                     <div editable="rich">
                        <p class="text-muted">@card.Description</p>
                     </div>
                  </div>

                  <div class="lc-block text-center">
                     <p class="fw-bold mb-0">Points: @card.Points</p>
                  </div>
               </div>
            </div>
         </div>
      }
   </div>
</div> 
 